<header>
    <h1>{{pageName}}</h1>
    <p>Yeah some text here</p>
    <div class="d">
        <a href="/">Index</a>
        <a href="/about">About</a>
        <a href="/home">Home</a>
    </div>
</header>